html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#image {
  height: 100%;
  width: 100%; 
  background: url('images/CA_Anaheim_287970_1965_24000_geo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.hotspot {
  position: absolute;
  z-index: 1;
  background: red;
  cursor: pointer;
  display: inline-block;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 999;
  width: 40%;
  height: 70%;
}
.popup img {
  max-width: 100%;
  height: auto;
}
#contButton {
  z-index: 999;
  display: none;
  position: fixed;
  position: fixed;
  top: 50%; 
  right: 20px;
  transform: translateY(-50%);
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
#contButton:hover {
  background-color: red;
}