html,
body {
  height: 100%;
  padding: 5%;
  margin: 5%;
  /* font-family: "Playfair Display", serif; */
  /* font-family: "Source Serif 4", serif; */
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  background-color: black;
  color: white;
  overflow: hidden;
}
p {
  position: relative;
}
#contButton {
  z-index: 999;
  display: block;
  position: absolute;
  bottom: 20%; 
  right: 50%;
  background-color: transparent; 
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid white;
  font-family: "Libre Bodoni", serif;
}
#contButton:hover {
  background-color: white;
  color: black;
  /* border: 2px solid black; */
}